body {
    font-family: "Helvetica Neue", helvetica, arial;
    padding: 15px;
}

#container {
    position :relative;
}

#iphoneImage{
    height: 751px;
    width: 468px;
    position: absolute;
    top:0px;
    left:0px;
}

#nativeContent{
    overflow: hidden;
    height: 667px;
    width: 375px;
    position: absolute;
    top:117px;
    left:46px;
}

.btcElement {
    position: absolute;
    overflow: hidden;
    text-overflow: clip;
}

.btcElement.image{
}
