body {
    font-family: "Helvetica Neue", helvetica, arial;
    padding: 15px;
}

#container {
    position :relative;
}

#iphoneImage{
    height: 748px;
    width: 382px;
    position: absolute;
    top:0px;
    left:0px;
    z-index: 1000;
}

#nativeContent{
    height: 480px;
    width: 320px;
    border: solid;
    position: absolute;
    top:131px;
    left:31px;
}

.element {
    position: absolute;
    overflow: hidden;
    text-overflow: clip;
    z-index: 100;
}

.element.image{
    z-index: 10;
}
