body {
    font-family: "Helvetica Neue", helvetica, arial;
    padding: 15px;
}

#nativeContent{
    height: 480px;
    width: 320px;
    border: solid;
    position: relative;
}

.element {
    position: absolute;
    overflow: hidden;
    text-overflow: clip;
}
