doctype html
html(lang="en")
    head
        link(rel='stylesheet', href='/stylesheets/index.css')
        script(type='text/javascript' src='/javascript/index.js')
    body
        h1 Labels
        form(name='labelsForm')
            ul#labels
            input(
                type='button'
                name='button'
                Value='click'
                onClick="sendLabels(this.form)"
                )
