doctype html
html(lang="en")
    head
        link(rel='stylesheet', href='/stylesheets/index.css')
        script(type='text/javascript' src='/javascript/index.js')
    body
        h1 Native content
        #container
            image#iphoneImage(src='images/iphone4.png')
                #nativeContent
