- var bundleIds = Object.keys(nativeSockets)
doctype html
html(lang="en")
    head
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
        link(rel='stylesheet', href='/stylesheets/index.css')
    body
        .container
            .page-header
                h1 BetterContent
            if bundleIds.length > 0
                p.lead Current live application connected to the server:
                for bundleID in bundleIds 
                    - var bundlePath = host + '/' + bundleID;
                    a(href= "#{bundlePath}") #{bundlePath}
            else 
                p.lead To view and edit you application's content, add your iOS application bundle identifier to the url, for example:
                a.hostname-link
                    span.hostname
                br
                br
                img(src="images/bundleIdentifier.jpg")
    
                script.
                    var examplePath = window.location.origin + '/com.example.apple-samplecode.AdaptiveCode';
                    document.getElementsByClassName('hostname')[0].innerHTML = examplePath;
                    document.getElementsByClassName('hostname-link')[0].href = examplePath;

        footer.footer
            .container
                p.text-muted
                    text= 'Created by '
                    a(href='https://twitter.com/gardenofwine', target='_blank')
                        | @gardenofwine
                    = '. Feel free to contribute to the project in '
                    a(href='https://github.com/gardenofwine/better-content-server')
                        | Github
                    | .